*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:	#f3e6d8;
  font-family: 'Outfit', Sans-serif;
  font-size: 16px;
  color: 	#5f574e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  margin: 2.5rem 0;
}

main {
  background-color:#ffffff;
  width: 100%;
  max-width: 46.25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5625rem;
  margin: 3.5rem 0;
  padding: 1.6rem 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.image-container {
  padding: 0.6rem 0.6rem;
  display: block;

}
.image-container img {
  width: 100%;
  max-width: 40.625rem;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#recipe {
  padding: 0 1.875rem;
  margin: 0 0.6rem;
}

h2 {
  font-family: 'Young Serif', sans-serif;
  color:	#854632;
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Young Serif', sans-serif;
  color: #302d2c;
  font-size: 2.375rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

p,l {
  color: #5f574e;
  font-family: 'Outfit', sans-serif;
}

.preparation {
  background-color: #fff5fa;
  border-radius: 1rem;
  padding: 1.6rem 1.875rem 1.25rem 1.875rem;
  margin: 28px 0px;
}

.preparation p{
  color: #7b284f;
  font-weight: 600;
  font-size: 1.25rem;
}

.preparation-list {
  margin: 0.625rem 1.25rem;
}
.preparation-list li span,
.instruction-list li span {
  font-weight: 700;
}

.preparation-list li,
.ingredient-list li {
  padding-left: 1.375rem;
  margin-bottom: 0.5rem;
  list-style-type: square;
}

.preparation-list li::marker {
  font-size: 0.75rem;
  color: #7b284f;
}

.ingredients, 
.instructions {
  border-bottom: 1px solid 	#e4ded8;
  padding-bottom: 0.875rem;
  margin-bottom: 1.5rem;
}

.ingredient-list, 
.instruction-list {
 margin: 1rem 1.375rem;
}

.ingredient-list li::marker,
.instruction-list li::marker {
  color:#854632;
  font-size: 0.9rem;
  font-weight: 700;
}

.instruction-list li {
  padding-left: 1.375rem;
  margin-bottom: 0.5rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.nutrition-table tr {
  border-bottom: 1px solid 	#e4ded8;
}

.nutrition-table tr:last-child {
  border-bottom: none;
}

.nutrition-table td {
  padding: 0.625rem 0 0.75rem 1.5rem;
  text-align: left;
}

.nutrition-table td:last-child {
  color: #854632;
  font-weight: 700;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 40.25rem) {
 main, body {
  border-radius: 0;
  margin: 0;
  padding-top: 0;
  }
  .image-container img,
  .image-container {
    border-radius: 0;
    padding: 0;
  }
  h1 {
    line-height: 1;
  }
}